{% extends "mysite/header.html" %}

{% block content %}

    <strong>On paper</strong>
    
  On paper, I ought to be doing good.. but why do I feel so inadequate, just like I’m not enough, or doing nearly as much as I possibly can, or the ever-present “fear of missing out”. Why am I still not content, despite hard proof that should make me feel otherwise?

This feeling recedes at times, but always surfaces back again.

It’s well-known that comparison is the thief of joy, and I am well-aware that everyone is on a different journey, which I only get to see a (small) part of. Time and again, I recede to the lower rungs and I can’t help but compare. There are tonnes of people doing objectively better/worse than me (which is expected), but the thing is that it’s shoved in my face all the time.

I think that is the problem. It’s perhaps the telling thing of our times, this sheer relentlessness of all this. Ofcourse, we all know what people post online is rarely the complete picture, or even the truth. The effortlessness and perfection of it all also irks me.. It is a fact that no-one can have it all, and seemingly perfect people may have a massive ‘hole’ in some aspect of their lives.

But that rarely changes the picture, does it.

I’m very scared of the feeling of numbing out. It’s getting more prevalent everywhere I see, being a very common response to an impossible situation where nothing you do seemingly makes an impact, which further gets you to spiral.

When was the last time that you did something just for the sake of it? Something where there was no clear reward, something for which you didn’t post a story? How many times have you received unsolicited advice on how to make something ‘better’..

“Whenever someone tells me that they are not creative, I tell them they are wrong. This is because they believe they need to be really good at drawing or making music or writing in order to do it, because we have internalised the belief that things that cannot be monetised have zero value.”

- Caoilainn Lander, 2025

Fewer people commit to do things outside their comfort zone, with most of us treating and being treated as just a statistic, or worse, a dispensable commodity.

Here are some other catalysts:

Fomo (fear of missing out) - seeing other people do things online, and not being able to experience it.
Sleepwalking through life/going with the flow, not really thinking about it.
Events simply just passing by - not being able to reflect on what has happened.
Potential to be constantly distracted - liner passing of time, feeling worse at the end.
Setting firm boundaries, and finding yourself isolated from everyone else.
Things are getting more frictionless, taking away the chance of growth that only comes after hurt.
A little while ago, I came across this incredible piece about French views on purpose, and this part stuck with me:

“Maybe that’s enough. Maybe being fully alive is its own kind of purpose.

I don’t know that I’ll ever stop caring about meaning. But I’ve stopped needing to declare it. What I want now is to live with intention, even when there’s no obvious reward. To build a life that’s full, not optimized.”

- Pamela Clapp, 2025

This really brings into light what I have been trying to express for quite a while now. The sheer importance of the intention.. the motivation behind what you do and why you do it.

How many times have you picked up the phone, and after reading a notification forgot what you picked it up for? How many times has your thumb clicked on instagram and began scrolling without you even realizing what was happening? When was the last time you were able to get through a movie without compulsively checking your phone, or heck when was the last time you read, or created something that really challenged you?

So, what do we do here?

How do we navigate life in times so uncertain, trends so ephemeral, connections so fragile, trust so scarce? I’m not sure if it’s just me opening my eyes up to all that has always been there, or perhaps it’s this moment in time which is quite unlike anything else previously.

As I mentioned before, I think the problem is the sheer influx of everything being shoved in our faces, all the time, all very frictionlessly, and our lack of intentionality in consuming all this.

It’s easy to spot the common denominator in all this (answer: tech). Even though a lot of people are doing a lot of good work to bring about positive change, I feel that this is something that just won’t go away, and we desperately need to be more intentional in how we live alongside it and treat each other. Tech is a means to an end, and I fear with loose motives, we are just wooshing through everything without any intent or agency.

Ofcourse, there are (and always will be) people thriving, but my heart goes out to everyone else who resonates with things mentioned here, and I have a feeling that that cohort is younger, much larger, and navigating a world baring little resemblance to the one passed onto them.

So, going back to the question: “What do we do here?”. Thinking pragmatically:

Abstinence from “consuming any content” is one extreme, while sweeping everything under the rug or numbing yourself is on the other end. What has helped me the most is doing something consistently that builds my agency. It’s a good feeling when something actually stays and is not merely transient. Here are some actionable things that have helped me:

Commit more for things and actually show up.
Mindful consumption of content.
Reflections, including long term effects (look back on things periodically).
The main idea is gain back agency somehow.. maybe you sub-in-another-domain-to-feel-better, when our minds can’t handle the pipeburst of information anymore. That definitely has helped me many times.

The feeling of not-being-or-doing-the-best always creeps in, sometimes even from well-intention’d people. I’ll end this piece with this quote:

“Home is where your heart is but what a shame, cause everyone’s heart doesn’t beat the same”

Green Day, 2004
    
{% endblock %}
