{% extends "mysite/header.html" %}

{% block content %}

    <strong>We do(n't) need no education?</strong>
    
    Let me start this off by asking a question: why would you ever wash a spoon if you live in 2025, with a working dishwasher?

This might seem frivolous, but it underscores a very important shift. Profound change is (and has been) happening around us for a while. It’s really important for us to acknowledge that and be able to find a place in it. I want to shed some light to this matter with this article.

Note: a lot of this is US-centric, but I believe that most experiences are similar across other places as well.

Zooming out

Looking back in time (I mean, really zoom out centuries), it’s evident that machines alleviated us of manual labour. Life is objectively better now compared to what it was back then, which is a certain cause of celebration!

I’d argue that at this time, we are not a human civilization anymore and haven’t been for a while. We’re a human-machine civilization. With the landscape now, it’s not hard to foresee how these machines are on-track to alleviate us from cognitive labour. It’s getting easier to envision that with the growing capabilities of AI models now.

It seems daunting, although not much different from parents worrying for their children because they can’t do mental-math-to-calculate-the-tip. But I don’t think that’s the issue. People have been figuring out life amidst technologically changing times for a while now, what seems to be different here is:

There seems to be a certain crisis of trust, lack of meaning, motivation.

Setting up the stage

I’d like to illustrate this with this list of experiences: (this would resonate most with Gen Z, but I’m pretty sure almost everyone can relate to atleast some parts here).

Lack of 3rd places
Friendship feeling more and more like admin work
Apps making decision-making frictionless, and even automating them
Information overload/don’t know what to trust or believe in
fomo/something better out there than what I am doing currently/constant comparison
Loneliness/screen time
Sense of abandonment/nothing staying the same
Morals - we know what we won’t tolerate, but what do you stand for?
There are no shortages of sources going into these experiences, but I’d recommend you take some time out and read Ted Gioia’s take on the state of culture in 2025. This excerpt from Kyla’s article about Gen Z is a really good encapsulation of these times:

“When a main path to financial security comes through the algorithmic gods rather than institutional advancement (like when a single viral TikTok can generate more income than a year of professional work) it fundamentally changes how people view everything from education to social structures to political systems that they’re apart of.”

I remember hearing this, out of all places, in a cybersecurity class:

“Why do you trust someone or something?”

“Because you have to.”

This might sound silly, but this overtly simple statement holds true in almost all transactions we take part in. With tech getting exponentially better, things are changing at breakneck speeds. A lot of what I mentioned crescendos to “trust” breaking in a lot of places. For example, you can no longer trust that any form of art was made by a person, wether the voice you are talking to on the other side belongs to a human, if the paper submitted by the student was actually written by them..

“20,000 years of this, 7 more to go” - Bo Burnham

I feel that our education system has been broken for a while for most people. At best, it’s churning out a heaping pile of mediocrity, and preparing us for a world that has already passed.

Despite that, I genuinely believe that quality education is still out there, but it’s out of reach for most people. This is a systemic issue, and I think Scott Galloway highlights it the best:

“You know who doesn't need me or higher education?

The top 10 percent.

The whole point of higher-ed is to give the unremarkables, i.e. yours truly,

who was raised by a single immigrant mother,

a shot of being remarkable.”

What has me really worried right now are things like these:

Students can pretty much get AI to do all their work, assignments, projects. It’s hard to gauge if they actually ended up learning from these tasks.
There will be (if it’s not already present) a palpable notion of “what is the point of doing this?” for majors whose jobs are all but replaced by AI.
These are some sources delving deeper into what has been happening on-ground: What is happening to students?, The case against CS Master’s degrees, Will AI Make Us the Last Generation to Read and Write?, and more, and more..

Despite all this

I want to be cautiously optimistic, and we need to be painfully aware of how things are before we can call for change.

Looking back, a lot of my education was based on making me feel bad for not remembering stuff. Heck, some of the most useful things I came across was from things outside the classroom. We don’t live in an information-scarce world anymore, and the sooner we adapt to this, the better.

AI tools can act as genuinely good educational resources. They are going to be used one way or another, it’s quite inevitable. At this point, I don’t know how the whole issue of trust should be handled, and what things will look like as they get better than humans at cognitive tasks.

I would like you to -just for a second- imagine what you’d want to do, and how you’d derive meaning in a post-scarcity world, where money isn’t a concern and all your basic needs are met. This sounds far-fetched, but I like to believe this to be the good scenario where we are headed, with a lot of turbulence in the interim.

Refrain

So, going back to the question that I started off with: “Why would you ever wash a spoon if you live in 2025, with a working dishwasher?”

It makes no sense whatsoever! The machine will do a much better job than me while using much fewer resources.

Nobody cares as long as the spoon is clean.

P.S.

I know this turned out to be more of a rant, but I wanted to write about this for a while now. I’ll leave you with one thing that I’ve been trying to do for a few years now, and it’s something I believe is super useful for almost everyone:

“Mindful consumption of content.”
    
{% endblock %}
