article1.html{% extends "mysite/header.html" %}

{% block content %}

    <strong>Master’s Journey in the US as an International Student</strong>
    DO NOT come if you cannot afford to spend the money.
(imo) location matters much more than the rank of the uni.
It’s much preferable to come with prior work experience.
The idea here is to give a general, non-academic overview of what the whole master’s journey looks like in the United States. This comes from the perspective of a student coming from India to do Computer Science in the states during/post covid.
This is not meant to discourage any of you reading this. It’s just here to give a ground-level reality check, and the milestones that you cross during this journey. It’s an incredible thing to be part of the few who can actually do this, so it’s very important to be informed.
More or less, this is the general path that everyone follows, and I will try and document that the best I can. Feel free to go to any section anytime, it ought to be pretty detailed.
Making up your mind to do masters
Preparing for the exams (GRE, TOEFL), applying, admits and the whole visa scene
Legalities and documents
The whole job scene (Circa mid ‘23)
After job scene
1. Making up your mind — do I want to do masters?
We come from a collective society, and it’s much too easy to get swayed by what others are doing, so much so that it’s compared it to “floating along like dead fish in the water”.
There are a lot of things that you end up hearing from other people (but as always, please do your own research). What follows in this section is a collection of things that I heard of when I was in this stage, and a few outlooks of this after coming through the other side.
Trajectories
Ideal/Best case scenario
Lets say you get into a uni that has an estimated yearly cost of 70,000$. 

So, the government is essentially saying that you need ~140,000$ to be here.
 -> Get admit & visa 
 -> Get a TA/RA asap, maybe get the fees waived 
 -> Get a summer internship 
 -> Clear the sems nicely, maybe graduate earlier 
 -> Get a full-time job in the meantime, or get a PPO from the internship.

In the best case, we only end up paying ~50,000$ with a lot of buffer.
Average case scenario:
We have to be more realistic than this. What ends up happening for almost 
everyone is that they pay the tuition and health insurance from their funds, 
and their living expenses from the part-time jobs in the uni. If they end up 
getting an internship, that'll take care of the tuition fees for atleast a 
semester, so there's some relief there, but we are looking at paying the 
brunt of the expenses via your funds or loan.

Not everone graduates on time, so planning out the timelines can get hard.
I guess the thing about the best-case scenario is that it only leaves room for you to not perform as well and feel bad later. It ought to be perfectly okay if you need time to get used to everything.
Trajectory compared to working back home
When I was working before, I recall asking a coworker if it’s worth doing Masters, especially from the job perspective. He replied “yeah, do it if you have the money”.
The general consensus is that you can save a few years of your work life by doing masters and getting a better(?) position outside. Monetarily, it sounds ok, but what you need to consider is that even though you get paid more, you end up spending a lot more as well (and will probably have a loan to pay back as well)
I have several colleagues who chose not to do Masters and instead focused on their work and switched jobs, and now they are in a much better position (some even internationally) with a lot of experience and zero education debt, while some of us are starting out again at entry-level positions.
So all in all, it depends.
2. Exams, unis and the visa
So, one way or other, you have made up your mind to pursue this. Here are the next few milestones:
Exam Prep:
Disclaimer: as I understand, a lot of unis do not require the GRE scores now, which used to be a big thing pre-covid, but I’m just going to document the experience anyways.
The best thing you can do here is just to pick a date for the exam first. I can guarantee you that you will only start studying sincerely when you have a date looming over your head.
It’s not uncommon for students to turn to “Coaching” classes for GRE. I personally did that after I botched my first attempt (307/340). The main intention was to get quality practice papers and just a group which was going through with the same thing that I was. I remember not being able to score more than a 300 in any of their exams (which I used to give every weekend till the exam date), but I ended up with a 324/340.
One thing which I can’t recommend enough, and what helped me get my score up was “Word Power Made Easy” by Norman Lewis. Please don’t waste your time mugging up “Top 200 words to know for GRE”, I found it to be quite useless.
Another big debate among people when I was doing this was “TOEFL vs IELTS”. Honestly, it doesn’t matter that much, and just do whichever you find easier. I am positive that the unis don’t even care about this. Your SOP (statement of purpose) and LOR (letter of recommendation) will have a MUCH greater impact on your case, do not slack off on those.
But yeah, you should be done with your exams and have your scores well before the application season starts.
Selecting Unis:
You must apply to as many unis as you can!
Heads up: Money is going to run like water — get used to it, this is just the start!
Perhaps the next biggest thing is to make a list of the unis you want to apply to. The approach I followed was to apply based on ranks (like 2 unis ranked 1–10, 5 unis ranked 20–30, 5 unis ranked 30–40 etc). USNews is the go-to place for getting ranks.
Keep in mind that almost all universities have multiple intakes (usually Fall and Spring). Most people tend to go for fall admits as they plan to do an internship the upcoming summer.
IMP: To be able to do an internship (i.e., work outside the university on CPT), you should have been in the US for atleast 2 academic semesters, that is a pre-requisite. This is a big factor why people don’t prefer spring, as you would only have completed one academic semester when the summer starts, and you can’t apply for CPT.
A common tradeoff people consider is the university rank vs the area it is in. Naturally, the higher the university ranks, the more challenging the courses are going to be, and the more prestigious the degree. Pragmatically, I feel all that takes the side stage when you are not able to convert that to a good job, which is where the area comes into play.
Getting the F-1 Visa:
Okay, so after applying to the universities, you are pretty much in a limbo till you hear back from the university. They may reply back to you anytime till a few weeks from when the classes start, but usually you get a response back within 2 months.
Once you have the admit and I-20, you need to:
Pay the SEVIS fee
Fill the DS-160 form
Schedule your visa appointments (biometrics and the interview)
Good luck getting a visa slot. It’s almost stupid what the numbers are. Make sure all your documents and financials are in-order. The interview lasts ~30 seconds on average, and they reject a fair amount of people. Mostly, imo, they are just concerned with how you’ll pay.
Note: you don’t need to show your visa while booking flight tickets, so you can book tickets for a cheaper rate in advance.
3. Legalities/Documents
This is meant to be a one-stop place to know what terms mean and the important thing to keep in mind about them. Universities usually hold seminars about these for students to be informed (esp. of the deadlines)
Docs (in-order of when they come up in your journey)
Passport
F-1 visa (i.e., student visa)
I-20 (Imp: this is what keeps you in status, not your F-1!)
I-94 (for your travel history)
Drivers License/State ID
SSN (Social Security Number, can’t work without this)
W-2 (Tax-statement form)
CPT (Curricular practical training, for when you are studying)
OPT (Optional practical training, after you graduate)
EAD (Employment Authorization Document)
Real ID (still some time for this to get enforced {May ‘25}, but just FYI)
You must always carry your I-20 along with your passport. You can be here on an expired passport and a valid I-20 (but pls renew your passport before it expires. Here is how to do it).
Tip: Get your Drivers License done here as quickly as you can, and if you don’t plan on driving (why?!?), get a State ID. Do not carry your passport to bars/clubs for heaven’s sake.
Keep in mind that you are still on F-1 and you cannot work legally out of campus (apart from CPT/OPT). These cases are what ICE (immigration and customs enforcement) live for. It is simply not worth risking your whole status and being deported for a few extra hundred bucks.
IMP: You need a “Travel Signature” from your university on your I-20 if you plan on travelling outside of the states. Do not forget it.
Usually, international students work on CPT for their internships, and OPT for a year after graduation, and if you’re STEM, you can renew it for 2 additional years (for a total of 3 years). Remember, all during this period, you are still on F-1 and still a student. This is why many (heck, almost all) people look for companies that sponsor H-1B visa (which btw, is still a temporary worker status).
If you are working in the US, you have to pay and file your taxes. You need to file Local, State and Federal Taxes. Universities sometimes provide codes to use softwares like Sprintax. IMP: Do not use TurboTax, it is not meant for non-citizens apparently.
Fun Fact: the government here refers to us as “non-immigrant aliens authorized to work”. Yes, that is our actual legal status! Sometimes I wake up, remember this fact and choose violence. (metaphorically ofc)
4. Moving and the actual uni experience
I distinctly recall being told this as I was preparing to come here: “your first two months here are going to be the most difficult”. Naturally, it did not make much sense to me then, but ohmygod that statement is so true. If you are an incoming international student, even if you don’t take in anything else from this article, do not forget this.
NOTE: FFS, DO NOT COME HERE IF YOU CANNOT AFFORD TO SPEND THE MONEY!
It was told to me that perhaps the worst thing you can be in the US is poor, and it is as true as it is blunt.
Naturally, adjusting to a new place takes time, and for some this could very well be the first time they would be living away from home and would have to do everything by themselves.
Personally, my uni experience was a very formative one. You can read about it here. If you can, please connect with a mentor/senior who has gone through what you are about to go through.
Academic competence
As any senior would tell you, you actually have to study here. Get used to the American way of doing assignments properly (include references, mention whom you discussed with), quizzes, exams and with almost everything getting counted towards your grade. Even though professors may seem flexible here, they will not hesitate before giving you a bad grade. The consequences of academic disintegrity are severe, from you failing the class all the way to getting deported.
And ffs talk to the professor! Desis/Indians are quite infamous to not participate.
Cultural competence
Perhaps one of the best experiences of coming to another country is the chance to interact with people from different regions and cultures.
IMP (post-covid/’22): There is a HUGE influx of students coming in for masters, and more than 80–90% of the incoming batch would be desi/Indian. There is hardly anyone from other countries.
I have found this to be true here.
It’s almost inevitable seeing people from the same place hang out together. It’s good to be part of a community, but be open to new experiences, and please be socially aware when you are in any group.
Part time jobs
I want to reiterate that you are here as a student, and while it feels nice to have money coming in from your part-time job, remember that this is just temporary. It is not worth doing 20 hours of manual labour and perform badly on your acads. It makes much more sense to get a bigger loan, live more comfortably and then use that time to prepare and bag a great job. Trust me, the 1000$ you earn while in uni would be nothing compared to what you will make later on.
5. The whole job scene (Circa mid ‘23)
Note: if you are in a REALLY good school, you should not be affected so much, but the landscape is just getting more competitive everywhere.
Graduation is a milestone for sure, but now, everything opens up. Technically, your I-20 (a.k.a, what keeps you ‘in-check’ here) is only valid till the end of your program date. You then have a choice of going back or opting-in to work under OPT (which 99% of us do). Here at the things that you need to keep in mind:
You can (and should) think about what date you want to start working early on! It’s a balancing act of trying to get a job and actually being able to start working!
Be wary of the window frame and the start/end dates. Usually unis hold seminars for this. Ffs, don’t skip them. It’s YOUR responsibility to make sure you get the EAD.
IMP: “Premium processing” was introduced in 2023 for OPT cases and has royally messed the timelines. A lot of people had to shell up the extra 1500$ cause the applications were not processed even when the start date was next week! So start this process well before your graduation!
2023 is perhaps one of the worst time to graduate. There practically seem to be no new-grad roles (which used to be there in abundance like a year ago), companies are laying off people, the market is saturated with high-profile professionals who are desperate to get anything just to keep their status. There are record number of new (desi) people coming in for college, the Indian-American kids of people who came in the 90s are entering the workforce, and the H-1B applications are just exponentially rising year-over-year.
Senseless ratio/Rage applications:
I was told back home that you will get one response to every 200 applications that you send out. After coming here, my seniors told me that it’s more like 400/500. Personally I don’t buy this argument as any two applications ought to be mutually exclusive, but unfortunately this is what goes down in practice.
Here are a few tips that might be helpful:
Your resume ought to be easily parse-able and full of relevant keywords. There’s only a miniscule chance (if any) that a real human reads it when you apply.
Have different resumes for different positions you want to apply to. Don’t keep sending the same generic resume everywhere.
Don’t get swayed by different people commenting on your resume. Even the career services in the university has given me contradictory opinions. (Include links/don’t include links, add bullet points/add commas, keep this experience/remove it cause you can’t even remember what you did, add all your courses/just add some)
Ask for referrals, shamelessly. Be it via friends, family, WhatsApp groups, cold emails, LinkedIn etc.
Apply to as many positions as you can on a daily basis (average ~35 atleast, set aside time/place if you need to)
Ffs, practice Leetcode. It’s painful, but super necessary.
The case with Career Fairs:
There’s a good chance that these will be quite useless to you if you are international. Generally, there are less position for “non-visa dependents” (i.e., people who are not citizens/green card holders), and I have found (atleast in my uni) hardly 5% of the companies even sponsor for visas. Please do not put much faith in these career fairs. Ofc, it works out for a few people, but it’s always rare.
It is totally upto you in terms of how you end up getting a job. The market now is messed up for sure. I remember my seniors (~’21/’22/early ’23) were getting interviews every week. Now, even getting a response is rare. I cannot tell you how many times I went to the students/new grad jobs for a company and the “no results found” page came up.
Plan Bs:
As you approach the looming start date of your employment without something to look forward to, panic starts setting in and you start gauging other options. This section could be opinionated, but I am just sharing my experience.
The case with consultancies:
Consultancies on paper seem like a great idea. Some of them for sure are, but given the recent H-1B application abuse, there is a crackdown going on against them.
From what I have seen, ‘desi’ consultancies straight-up forge experience and make a fake resume for you. Then if you get the job, they take a cut of your salary for a year or two. I remember getting a call from one and straight-up asking if what they do is legal, just to be met with confusion of not understanding the question.
I get it though, students are panicked and desperate and they come in with promises and backdated letters and a chance to be in the states for a bit longer. I personally have found them shady and just steer clear from them. But many, many, many people I know would not be here if it were not for them.
PhD/Other countries/Other course:
Sure. If you can, all the more power to you.
FAQs:
Q: What do I put in “will you require sponsorship now or in the future?”
A: Ideally “Yes”, but it’s perfectly OK to put in “No”. Remember, you can legally work here on OPT. It’ll then be the company’s decision then. What you most certainly do not want to do is say “no”, then just drop the H-1B bomb on them in the interview/later. That usually does not end well.
Q: Is contract/hourly work legal?
A: Yes, as long as it’s full-time and related to your major.
Q: Does previous work experience matter?
A: Most definitely yes! Apart from giving you an edge over others, that usually is a very good talking point in interviews and you are in-charge of that.
Q: I have done 500+ applications and haven’t received a response!
A: Join the club.
Q: How helpful are referrals?
A: Honestly, this seems pretty arbitrary to me as well. Sometimes it does, most times it doesn’t.
Ending remarks:
Almost everyone I know got a job seemingly out of nowhere (“I had applied to this position 4 months ago, and randomly got a call from the recruiter!”). It seems very, very arbitrary.
If you have no experience, you’re basically screwed — almost every open position is senior/staff. Where did all the new grad roles go?!?
Was told by my ISSA that this is actually pretty common, and this market just doesn’t seem that different from what they have seen before. (dunno what to make of that really)
6. The After-job scene:
I probably will end up writing another article about this experience later on.
Right now I’m just pondering over how funny it is to think that our entire future is based upon a random lucky draw, and you still will be a “non-immigrant alien authorized to work”.
It just baffles time and again how so many of us are willing to put up with so much, jump through so many hoops just to be in the states.
Q: So, knowing all this, and looking back, would I still go through all this?
A:
This part from Scrubs’ intro song comes to mind:
“You’ve crossed the finish line,
Won the race but lost your mind.
Was it worth it afterall?”
Yes.
The past couple of years have been the most tumultuous of my life, but I got to experience so many things, and learn a lot of things about myself. It definitely is a make-or-break experience. Not easy for sure, but the feeling of coming through the other side makes it worth it.
{% endblock %}
