{% extends "mysite/header.html" %}

{% block content %}

    <strong>Separating concerns</strong>
    
This will mostly be filled with links and sources of things that have held my attention for a long, long time. It’s like recording a song, where I want to get it all out so I can move to the next thing, and this will be like a memento of the time.

This article’s title comes from Dijkstra’s separation of concerns, which is also a very popular design principle. It’s incredibly useful in near about every domain.

Here’s a broad mind-map that I’ve been tweaking with for a while now:


I'd like to break it down in 3 parts:

Part 1 - Exponential growth of tech (objective, important predictor in how things will shape up)

I’ve written about this extensively before here:

Keeping up with AI
Keeping up with AI
DIPEN GUPTA
·
OCTOBER 16, 2024
Read full story
Now, I’d like to add in a few more things that I found fascinating:

The Singularity is Near/er, by Ray Kurzweil

GNR & implications:
Unfortunately, this doesn’t stand for Guns N’ Roses, but for Genetics, Nanotech and Robotics. Advancements in these domains are going to be huge.
LessWrong is a really good resource for high-quality discussion about these topics.
Hard problem of consciousness:
[bear with me here] We cannot really talk about Operating Systems without talking about Databases, there’s a really tight coupling there. Similarly, I believe that we cannot talk about AI without talking about Philosophy. Here are some terms to help talk about this:
“Functional Consciousness” - refers to the ability to be aware of one's surroundings, internal thoughts, and the external world, and to act on that awareness. This type of consciousness is observable from the outside. Most scientific and AI research focuses on replicating this functional aspect of consciousness.
“Subjective Consciousness (Qualia)” - refers to the ability to have subjective, first-person experiences, such as the internal feeling of seeing the colour red, the smell of a rose, or the emotion of love. This subjective reality is at the heart of our ethical, moral, and legal systems, which are largely based on respecting the consciousness of others.
The "Hard Problem of Consciousness" asks how and why physical processes in the brain give rise to the subjective, immaterial reality of qualia. This is important because there is no objective test that can conclusively determine the presence of qualia in another entity. This has huge implications for our shared reality, especially when machines start passing valid turing tests.
“Science is based on third-person, objective measurement, whereas consciousness is a first-person, subjective phenomenon. We can measure correlates of consciousness, such as brain activity or behaviour, but we cannot directly access the subjective experience of another being”

Emergence, Rule 110:
This gets a bit mathematical, but let’s get into it. Wolfram’s theory starts with basic automata, think of it as cells in one line that come from a set of rules and the states of the cells in the preceding line. Below is something called rule 222 that generates a very predictable pattern.

If we want to find out the millionth cell from rule 222, you can just answer “black.” This is how most science is “supposed to” work, by applying deterministic rules to get predictable outcomes. Now, if we change it a little,

Wolfram points out that with some sets of rules, regardless of the number of steps being considered, you cannot predict future states without going through each of the intermediate iterations. There is no shortcut to summarize the result.

250 iterations of Rule 110
The point here is that there is no way to determine what the thousandth row will be, or the emergent patterns that come up, other than to compute them one by one.
Here are some one-liners that stuck with me, just in terms of their rationality/obviousness:

The idea that “any sufficiently advanced tech essentially becomes free”
Think of Google searches, digitised books, music, and the lowering costs/increasing features of a lot of tech products
Extrapolating this, it has huge implications, this is famously talked about using the term “abundance”. While I agree with most of this (and hope that things shape up this way, bucket 3 of people/policies comes up)
The essence of being human is to transcend limitations.
Any loss of knowledge is tragic.
Patterns can be treated as a fundamental reality, and pattern recognition (esp of increasing order) is the primary strength and function of human intelligence.
Something that’s really worth noting, with anything that you read, hear or watch about all this (and pretty much any other domain) is that almost everyone agrees with the notion that none of this really matters without human connection. That’s very evident when you read the acknowledgment section of any of these books.

“Relationships are the currency of a fulfilling life” - Josh Gray

Part 2 - On-ground lived experience (subjective, but cannot disagree with trends)

I highly recommend (as before) starting with this Ted Talk by Prof. Galloway, and the book "The Anxious Generation", and this is the author's substack, and it’s the place for good-quality sources from a lot of different perspectives:

After Babel
A free weekly newsletter where Jon Haidt and his team make sense of how technology is reshaping society — and offer practical guidance on how we can respond.
By Jon Haidt

Here are some notable articles, from other authors:

Tim Urban - Wait But Why (I love his way of writing and explaining things)

Kyla’s Newsletter
Gen Z and the End of Predictable Progress
Generations are tricky to generalize as individual experiences are very different, especially in a country as big as the US. Still, broad patterns can offer insights into how technology and economic shifts shape generational identity and opportunity…
Read more
7 months ago · 844 likes · 77 comments · kyla scanlon

After Babel
A Time We Never Knew
Introduction from Jon Haidt…
Read more
a year ago · 2588 likes · 193 comments · Freya India

Of Boys and Men
We must pay more attention to young men
There’s been a flurry of recent attention to the growing political gap between young men and young women, not only in the U.S. but around the globe. An article by John Burns-Murdoch in the Financial Times was accompanied by this striking chart…
Read more
2 years ago · 303 likes · 341 comments · Richard V Reeves

Scriptorium Philosophia
The average college student today
I’m Gen X. I was pretty young when I earned my PhD, so I’ve been a professor for a long time—over 30 years. If you’re not in academia, or it’s been awhile since you were in college, you might not know this: the students are not what they used to be. The problem with even talking about this topic at all is the knee-jerk response of, “yeah, just another o…
Read more
6 months ago · 7595 likes · 1337 comments · Hilarius Bookbinder

After Babel
Aren’t You Lonely?
The most common question people ask me when I say I don’t use Instagram, Snapchat, Facebook, or TikTok is: aren't you lonely? Aren’t you cut off? How do you stay in touch? In a way these are strange questions…
Read more
a year ago · 1601 likes · 129 comments · Freya India
A huge implication of all this is that we just don’t know what to trust anymore, and it just gets more confusing as the years go by and things get better. I still recall being in a cybersecurity class and hearing this:

Q: “Why do we trust someone, or something?”

A: “Because we have to”.

A last tidbit to change the vibe a bit before we move on: https://en.wikipedia.org/wiki/Ostrich_algorithm

Part 3 - Making sense of all of this (ongoing, work in progress)

This is perhaps what really ignited the spark of me writing all these articles, and what I have been trying to figure out on a personal level and define for the past 2-3 years.. I wanted to make sense of the times, the experiences, and navigating an increasingly uncertain world. This is the original Pumping Lemma post, and my add-ons to it.

I won’t really go into it again, but rather give you more things that are examples of it in a similar vein:

Travel is no cure for the mind: I remember reading it waaaaay back in the day, and it stuck a chord in terms of how travel eventually loses it’s novelty. Really good read that holds up even now.
Dunning-Kruger effect: similar to ramp-up and pumping stages.
The Midnight Library, by Matt Haig: an amazing, amazing book, which takes a really nice outlook on choices.
Here are some interesting things from books I’ve read more than a couple of times:

What’s our Problem, by Tim Urban:

This was one of those books I picked up to be able to have the vocabulary to talk about politics, and it turned out to be so much more.. I had to read it multiple times to really assimilate the matter, and I revisit it time and again. This is perhaps the best way to be able to really begin to understand why the current landscape is the way that it is, and the all-too human part [bucket 3 from my framework] that comes in play.

Even if you don’t want anything to do with politics, I’d strongly recommend you to just read through the first chapter, the ladder, which is the central framework of this book. In a nutshell, it focuses on how we think, rather than what we think, with the core idea being a constant tug-of-war between the “primitive mind” and the “higher mind” in our heads.


Overview of the “Ladder” framework by Tim Urban
I can make a whole another post about this, and I can’t really distill this down any further here. There are umpteen brilliant ideas present here, below are a select few of them that stuck with me.






amazing ideas with no context
All of this gave me a whole new lens to learn how to navigate the landscape, and even empathise with people, knowing that not everyone can be at the high rungs all the time, and it’s hard-wired in us to do things that please the primitive mind.

The Defining Decade, by Meg Jay:

This book to me is a masterclass in thinking rationally. Here’s just some of the things that stuck with me

Strength of weak ties - more than 3/4ths of new jobs came from leads provided by “weak-ties”, people who were seen very rarely.
Jam experiment - with 24 flavours of jam, only ~3% of people were able to make a choice to buy one. With 6 flavours, it was ~30%
29 Essential Conversations! - I’d seriously recommend buying the book just cause of this chapter. So, so, oh-so many things come up here that can save a lot of conflict and heartache.
Personally, I’ve been:

Doing my best to enjoy the passage of time. Been trying my best to do these:

Fitness - Physical, mental, financial
Relationships are the currency of a fulfilling life
Dijiktra’s separating concerns
And also, learning new things and trying to avoid cognitive atrophy. It’s always a nice challenge pushing your comfort zone.

Here are some things I wish I were exposed to more while growing up:

Finances/taxes/physical fitness
Anything to boost confidence, instead of memorizing facts
Debating/getting to know diverse views from people who are not like me
Critical thinking, learning how to push my comfort zone
Dealing with failure
I’ll end this here with my quote:

“Shameless consistency is the best kind of consistency”
    
{% endblock %}
