{% extends "mysite/header.html" %}

{% block content %}

    <strong>Pumping lemma follow-up</strong>
    
    It was nice to see how much my original pumping lemma post resonated with people, upon which I received lot of good feedback and critique. I still think that there is something quite substantial there, and with this follow-up I want to give more examples, and add on a few new themes.

Quick recap:

3 stages: ramp-up → pumping → wind-down

Actions: Telic/Atelic [Think: wind-down stage/no-wind-down-stage]
Time: years seem to fly by because they become a smaller and smaller percentage of life lived!
Novelty diminishing over time
Parallels/Subroutines
This idea, I think works really well if we break down things we do and happen to us in terms of “processes”. Here are a few examples of drawing parallels between this idea and common processes. It’s important to note here that things seem intense (and you really feel it) during the “ramp-up” stage, and then the initial novelty wears off as you reach the pumping stage, after which the action is kinda “looped” (and you get more proficient at it).

Days passing by when on vacation: the last few always seem to just “fly-by”.
Running on treadmill.
Building resistance to alcohol: you end up consuming more to feel the buzz.
Paycheck hitting bank account: doesn’t feel as novel as it did the first few times.
Leveling up in video-games.
Reading a long article/book.
Collecting items: say vinyls, the feeling getting your 19th record won’t be as magical as getting the first few.
Tech: packages → frameworks → infra, super easy for anyone to be able to do things which would have taken much longer for a whole team to do 25 years ago.
Long road-trip: your first 5-hour drive may seem like forever, but the more you do it, the easier it gets.
Traveling - after a point, everything seems quite the same.
Perhaps another way of looking at this (particularly the pumping stage), is in term of “feedback loops”, or things that builds up on itself over time.

Critiques:

“Pessimistic, deterministic view of life!”
“Is this it?” - From the POV of someone just at the end of the ramp-up stage: Yes, next decades may largely look the same, in terms of the big-picture things that you do over and over (work, exercise, cook, clean, travel, etc)
Think of this as the “main” process among all other subprocesses, and we have more individual agency and choice than we might think to make it interesting for ourselves.
“What about mid life, kids, people aging, dying?”
Think of these as other processes/subroutines that come up and run in parallel. You have your usual life going on, and all these happening in parallel, as their own pumping-akin processes.
“Too broad, cannot put life in a theorem/lemma.”
Yes, that is true. That is also the reason why the title mentioned “parallelisms”. This is just my bottom-up way of trying to make sense of things.
Now, I’d like to add on a few more themes here. These are some common-experiences in pretty much all of our lives. I have provided a lot of examples, and I like to think of this as things that can happen to a process (this is just my way of acknowledging it).

Inversion

This line from Periphery’s Alpha has been stuck in my head for the better part of a decade now: “The less we are content, the more we throw away what little chance we have left to grow”.

For certain things and processes, there seems to be a turning point (y=tan(x) perfectly exemplifies it), before which things are incredibly difficult, often having negative feedback loops, and after which things take a turn and we experience the exact opposite with positive feedback loops. Think of the phrase “Rich are getting richer, poor are getting poorer”. One tiny part of this is:

Debt is the perfect example for a negative feedback loop before you reach the inversion point.
Once past it, things like money-generating assets come up as part of the positive feedback loop.
In the pumping-lemma verbiage, the first half is like being in the initial ramp-up stage, and never quite reaching the pumping state.

E.g;

Climate change will be felt much more strongly in the developing world, hampering it’s development, while the developed world will be able to cope better.
Brain Drain:
The home country faces loss of good talent, hindering it’s development.
Another country gains talent, accelerating it’s rate of development.
Making coffee - easier when you have better equipment:
You can get a decent cup with equipment like the french press, but it requires a considerable amount of manual effort.
With a higher upfront cost, you can get an espresso machine, and get a much better result with minimal effort.
Say you want to buy a pair of boots:
You can get a cheap pair that may not be as comfortable and only last a season, after which you have to get it repaired or get a new one.
Or, with a bigger initial cost, you can get a better, more comfortable pair that would last you much longer.
Compression: (aka hedonic treadmill/homeostasis)

It’s true that there’s always be the “next-day”, which follows the best day of your life. You may look forward to the day that you’ll get married, get that promotion, buy your dream car etc, but that elated feeling will only last for so long. You’ll feel as you did before the “next-day”. This is a really interesting idea in psychology called the hedonic treadmill, which says that there is a baseline-level of being we always return to (much like the biological concept of homeostasis).

In my experience, extreme highs pave way for extreme lows, and as you go through the process, it gets easier to anticipate one coming after the other. Time and again, I have tried to preemptively “compress” those highs so that the lows won’t impact me as much. Does this mean you stop yourself from experiencing and internalizing life’s highest highs/lowest lows? Idk really, but one thing for sure is that you’ll return to your baseline pretty soon after that.

Perhaps it’s easier to look at this from the lens of telic/atelic activities (remember these?). When we find ourselves anticipating that high or low, it may be worthwhile “compressing” how you feel, and think of it as something telic (has an end-in-sight), rather than thinking atelically (where this will affect you forever). Pragmatically, it’s another way of saying bad times probably won’t last forever.

Also, here is another adjacent observation: Quite often, it feels like the “last 5 years” seemed more comfortable than the present. You get to hear people say how simpler life was a couple years ago. Here is a really nice excerpt that helps make sense of it:

“When we look back on our past experiences, the pain, stresses, and challenges have faded, and we tend to remember the more positive aspects of life. Conversely, when we think of the present, we are highly cognizant of our current worries and difficulties. This leads to the often false impression that the past was better than the present, despite overwhelming evidence to the contrary”

- Ray Kurzweil, 2023

Disconnect, and the Human part of things

Before we move on, I’d like you to take a moment and go through Tim Urban’s brilliant article explaining why millennials are unhappy. My biggest takeaway from it is the gap that exists between where we are (the on-ground reality), and where we want to be (think of state-of-the-art things that exist). That gap is the “disconnect” which I want to explore more, on a broader scale.

Let’s consider these:

We have package tracking for Amazon deliveries from the moment we place the order, and yet this is super uncommon for organ-donations.
It’s clear that tech is advancing at an exponential rate, and while we most people and enterprises keep up, there are many, many places where decades-old legacy systems are used.
We produce, consume and waste a lot of food, and yet 1 in 11 people worldwide faced hunger in 2023.
Never before in history has it been easier to communicate with someone, and yet there is a loneliness epidemic going on.
Pretty much any topic discussed in “Last Week Tonight”. It leaves me with the feeling of facing the real world in harsh sunlight after watching a Disney movie in the theater.
All these seem to be problems that have been theoretically solved or for which we have enough resources to do something, but it’s clear that they are not where we want it for practical purposes. There is a clear disconnect between what is possible (which exists in real-life in current times), and what is the on-ground reality for things. Most of the time, it’s the human and people/policies part that causes this (more context is present in my 3-bucket framework). These are a few observations so as to why there is this disconnect:

Sometimes it’s just not profitable, and the notion of “if it’s not broke..” comes in. This seems to be the case for using legacy software, especially in places where the stakes are high (like banking)
Bad communication (or lack thereof)
In some cases, there are no policies and guidelines that exist, and government regulations are not doing nearly enough (no better example than social media)
I’ll need a whole another post to go over the impact this has over people (especially supercharged by AI) and making sense of that, but that’s for another time.

Okay, so I get that not all these themes have a super-tight connection with my initial proposition, but I think about these things quite a lot and it’s cathartic penning it down. And If others resonate with how I make sense of this, that’s the cherry on top. I know there will be other themes and refinements that come along as time passes by and I gain more experience, and I’ll keep on iterating on this thing that I have created.

I’ll end it here with another Periphery quote: “Words mean nothing to fleeting youth”.
    
{% endblock %}
