{% extends "mysite/header.html" %}

{% block content %}

    <strong>A case for doing Master’s in Computer Science at Penn State Harrisburg</strong>
    
    TL;DR: This is a small campus in a smaller town. Surviving here physically, mentally, and academically will test your mettle.
There are perspectives present in this article:
1. Just the raw data (This is purely objective)
2. Caveats (reading between the lines, so that there are no surprises later on)
3. My thoughts (This is purely subjective, and will be 
present in boxes like this)
About the admit
So, chances are that if you are reading this,
You applied to the Harrisburg campus, knowing that this is a small campus
You applied to University Park, but they deferred you here
You just applied to Penn State seeing the department’s ranking, and didn’t really think too much about it
All these are valid scenarios, no better or worse than the rest. Hopefully after reading this, you will have a better outlook.
After being here for this long, I can't help but wonder that they 
give out admits to almost everyone who applied. It's a fact that 
not all people are  going to graduate at the end, but if you have 
almost 20% people transferring  out or dropping after their first 
semester/year, that is concerning. If you are an international 
student, you end up paying more than double what a domestic 
student pays
Location
Shock #1, the university is not in Harrisburg (the city), but in Middletown, (where Harrisburg International Airport is, because that makes perfect sense). This is a proper small-town, with nothing much going on when the university is not open. If you are coming from a big city, just think of what a small town would feel like, and then multiply that by 2. To be fair, it’s a quaint little place, with almost no crime, (heck, I don’t remember the last time I’d locked my doors, but that’s more of a me-thing.. ffs, lock your doors). Since this is north-east united states, this place gets really pretty during the fall (heck, some places in the university feel that they are right out of a state park). The winters get really cold (there will be weeks where the highest temp will be -2c)
Fun fact: The Netflix series “Meltdown”, is based on the nearby nuclear power plant in Three Mile Island (you can see it from any heighted place on the campus)
Within walking distance from the university, there is:
one café here (shoutout to Brownstone café)
one good Chinese place
and two Italian joints
To go anywhere else, you need transportation. But again, if you have a car, a credit card and an SSN, there will be nothing that you need to worry about (apart from money, duh)

Olmsted (Main Building) at night
Here is the case for transportation:
There is an airport at a literal stone’s throw away from the campus (you can see the ATC from the swimming pool, I am not even kidding). It is convenient to take, but since almost all flights will hop from somewhere else, I just prefer to drive/take a train till there.
There is a bus service, which is criminally underused, but given the timing, and rare need (that is if you live within walking distance from the campus), it doesn’t really make sense waiting for the bus (like idk about you, but I’d just take a cab and reach Harrisburg in 20 mins than wait for a bus for 1.5 hours)
Then, there’s the Amtrak. I have to give credit where it’s due, they rebuilt the station, and now it is an honest-to-god train station. For comparison, this is what the Middletown station used to look like before 2022. The connectivity is there, but the timings are not so great. There are only a handful trains that go where and when you want them to go (e.g: NJ)
Ideally, if you have a car, your life will be infinitely better, there is no case against it.
So, by any means, this place is less than ideal. I hear arguments 
about how it's 'better to study' and such, but really it's extremely 
hard to survive without a good community. There are resources, it's 
just upon you to reach out to them.
Regarding the actual course and department
Before we start, remember
If you are international, you need to be taking at least 9 credits (i.e., 3 courses) to maintain your status, else you cannot be in the states.
You need to maintain at least a 3.0 to graduate (i.e., B or better in every subject roughly)
Imp, you may have seen the computer science department page for the courses, but you need to know about the existence of the old webpage as well.
So, the easiest way to think about this is you need to do 10 courses to get your degree. Out of these 10, there are 4 compulsory courses, along with 1 research subject, if you don’t take the thesis option (which is >90% of the batch). So, you are free to choose 5 electives.
All this is assuming you have no ‘subject deficiencies’, if so, you have to take an equivalent undergrad course, and if you’re lucky, that’ll count towards your degree.
IMP Caveats
If you choose the non-thesis option, you can only take two 400-level courses that will count towards the degree. With a thesis, it is three.
There are no classes offered during the summers.
There is ONE elective that is usually offered each semester. (what if I don’t like it? Too bad)
All graduate classes take place in the evening from 6–9. (yes, you will be walking in the dark, during snow)
You need a ‘C’ or better for the course to count towards your graduate degree, (AKA, to pass.)
If you end up getting less than a 3.0 for any semester, you will be given one semester to make up for it. If you are not able to do that, you will be let go.
Here is where things get a bit messy. There is no way for you to plan out your courses, as you don’t know what is going to be offered. To give some perspective, there are so many courses mentioned on their webpage, but in reality, you only have two core courses, and one elective offered each semester. The best way, I was told by my advisor was to just see what’s being offered on a semester-by-semester basis. (Really renders this “track” concept quite useless IMO)
Okay, so be that as it may, there are things that you need to know about these core courses, as anyone who took them knows that it’s not trivial. Remember, you cannot graduate without taking these.
519: Advanced Databases (FALL ONLY) This is said to be the easiest out of all the core subjects. Take this as a litmus test to see if you need to make alternative plans, because things will just get harder.
512: Advanced OS (SPRING ONLY) you have to do a project here, which is 30% of your grade. The layout and instruction is very similar to Databases (519).
505: Theory of Computation (FALL ONLY): This is graded on basis of mean and standard deviation of the class. There are 5 assignments and two exams.
511: Design and Analysis of Algorithms (SPRING ONLY). This is graded exactly the same as Theory of Computation (505). Here, you will not be coding up anything. It’s all going to be pen and paper. You will never forget 505 and 511 in your life, I can absolutely guarantee that. If you sail through both of these without any issues, you should definitely not be in Penn State.
I’m not going to sugarcoat it. People fail these classes. If you 
are not careful, and don’t put in enough efforts, you will fail, 
and there is nothing that can be done for that. Every semester, 
there are people who take this, and then transfer out the next sem. 
Faculty here will not hesitate before giving you a D (which btw, 
is not a passing grade).

505 and 511 are ridiculously difficult, and the bar that is set 
for them is no different than an Ivy League Uni. What sucks even 
more, (especially for 505) is that you are never going to use it 
afterwards. The bottom 15-20% will fail, that is going to happen. 
And the case with relative grading is that you are solely graded 
based on mean and standard deviation of the class (of people that 
are left at the end of the class). It could very well be that you 
are doing alright, but then people drop out, and suddenly you are 
two letter grades down without having done anything. When I was in 
this situation, this is word for word what my advisor had to say: 
“I have no advice for you at the moment”. ffs I had to go to 
therapy after that class.

There have been instances where people have had to extend their 
graduation because of these classes. I have had other faculty 
tell me that this is pretty normal. People have lost their jobs 
and had their offer letter rescinded because they could not do 
well in these classes. If you do not make it the first time, 
there is no option but to wait a whole year before taking it 
again. 

The other thing that particularly feels stupid is that you can 
clearly feel a huge difference in the quality of the elective 
courses. It feels like they are just there so that you can keep 
your GPA above a 3.0.
Okay, since this is reeeeeallly important, here are some FAQs about the course:
Can I get my deficiency removed? I had already taken it in my undergrad. (You’ll need to talk with your advisor for this)
I don’t like any of the department electives that are offered this sem. What else can I take? (There are Electrical Engineering, Math and Information Systems courses, which you can check out, subject to availability.)
Can I change my advisor? (Yes.)
Okay, so I know that I will not be able to pass this elective. What do I do? (You can think of dropping the course, but that will create more issues in the long run.)
My class is graded relatively, and due to know fault of my own, other people dropped, and suddenly I’m not too sure that I will pass this class. (Too bad.)
Can I complete my course by taking 3–3–4 subjects, or by taking classes elsewhere in the summer? (There are no classes offered in the summer that count towards your graduate degree. If you plan properly, you can finish the course in 3 semesters, although it’s very uncommon here.)
Can I take reduced course workload more than 1 time? (Usually no, but reach out to your advisor for this.)
My GPA is less than 3, and all the courses next sem are hard. What do I do? (Start by praying, then talking with your advisor.)
What about scholarships? (lol, if you’re international)
Working on campus
So, the good thing about being in a tiny campus is that you can get a part time job here quite easily. If you want to work for the department, grader positions are literally handed out at the start of every semester, and getting other jobs is also not that hard.
In terms of any job though, you are paid by the hour, which you have to enter weekly. Most of the time, it’s enough to sustain your living expenses, you can make up to 1000$/month easily, if you’re lucky. If you’re unlucky, 200$/month will also be difficult. It’s very condition based.
Case with jobs and internships
Before we start off, I want to make one thing clear to anyone getting redirected here from LinkedIn. There is no concept of ‘placements’ here. You have to reach out by yourself to companies, and it’s totally dependent on you and your skills if you are able to get a job.
There are ‘Career Fairs’ held periodically. The better one is in University Park, and even though most of it is not that useful for us international students, it sometimes works out for some people.
This is very much a solitary affair, and I can pretty much 
guarantee that most of what you have learnt in your courses is 
not going to be of any help here. Surviving (not even thriving), 
this university is mutually exclusive to you searching for and 
getting jobs. Of course, people have done this, and people have 
bagged extremely good jobs, but it's never a linear path.
Some knowledge to pass on
Okay, if you have made it this far, here are some tips/tricks in no particular order that will help you here:
You need a #3, with #1 being academics and #2 your physical well-being.
Make use of the resources that are available to you here. Obviously, not all may be useful to you, but International Student Office is amazing, and programs like ‘Global Lion Mentors’ (GLM), and ‘International Friendship Community’ (IFC) helped me out a lot.
If you know how to drive, and can afford it, get a car. Words cannot express how much of a difference that makes.
If that is not possible, make use of a delivery-based grocery company. Walmart Plus, Giant etc. Please do not waste your time wondering how you’ll get stuff for the week/month, trouble others, and end up walking to giant only to get a quarter of the stuff you wanted.
Even though it pains me to write this, I’d advise getting stacks of bottled water over the tap water here. The tap water at my place was atrocious.
For the love of God, do not stay over here during the break unless you have some solid things planned (internship, friends coming over etc.) There is quite literally nothing to do unless you have a car
Ending remarks:
Surviving here (physically, mentally, and academically) will test your mettle. It’s commonly known and said by graduates that them getting a job at any big company was easier than graduating from this place.
But after having talked to other people who came to do their masters in other universities around the same time that I did, I can’t help but think that the experience here is rather uncommon.
I do not claim to be super smart, but I know that I am not dumb. 
I can’t help but think of this whole thing as a ‘bad deal’. 
The experience you get in other places, in terms of the location, 
services etc. is objectively better than here. People in other 
similar, or worse ranked universities are sailing through nicely, 
while also getting really good jobs/internships. 
I have been told that nothing worth having comes easy. Going through this experience, I can’t help but think that if something is not easy, is it really worth having? Idk, maybe this is a perfectly normal university, and I’m just biblically unlucky/stupid. I’m just going to end it here with this tweet from God: Everything happens for a reason you make up afterwards.
    
{% endblock %}
