{% extends "mysite/header.html" %}

{% block content %}

    <strong>Idk how I feel about this</strong>
    
You may know of the song “Up & Up” by Coldplay:

I distinctly remember this cause of the video, which gave me the creeps cause of the dimensions being all off. Here is the official video:


Keep in mind that this was uploaded in 2016 (and the album came out a year ago in 2015..) Take a listen to this now:


This came out in 1993!

Tbh, I heard it just this evening on the radio while driving back home, and it took me a solid 2 hours before I could make the connection:


Now, I know that bands “take inspiration” from other bands all the time, and there are songs that sound like songs from yesteryear but what really intrigued me was this:


a simple Google Search

a simple ChatGPT question
As you can see, there’s nothing present here that would lead you to make the connection if you did not know the premise before. This is using the best tools that are available to the public.. (ones they actually use, in 2025) and the 3-second search that most of us will realistically do.

To me, ofcouse this hits as a musician, but more than that, I just REFUSE to believe that nobody made this connection in 32 years, which is more winters than I’ve seen.

I’m aware, and acknowledge the fact that people steal music, and that’s been happening forever (atleast since I’ve been able to count), but now what I’m concerned about is the fact that this (even this article) would not matter, cause we won’t be able to agree on a shared reality, or even the credibility of our sources. People who deserve the credit, or to be remembered will be forgotten, and the loudest voices, or the most prominent search results will be remembered, rather than the truth of what came first.

Trust is expensive, and getting scarce as the months pass by. With the sheer pace of development, I’m not sure for how long all this will be relevant. This feeling very much seems like the time I discovered Mandela Effect.
    
{% endblock %}
