article1.html{% extends "mysite/header.html" %}

{% block content %}

    <strong>Keeping up with AI</strong>
    
    I don’t want this to be just another AI post. Rather, I want you to get a general “feel” for this, and how things are right now, in 2024. Things have been changing at quite a rapid pace (and this is just me peeking back at my undergrad days, which were barely half a decade ago). It’s easy to descend into a feedback of doom and gloom, but it’s vital to be able to navigate the ever-changing landscape, and I for one would like to have a cautiously optimistic view on it.

This article by Tim Urban is arguably the best primer for AI that is out there now (even though it is like a decade old, I STRONGLY encourage you to read it). I’ll be borrowing heavily from his and Ray Kurzweil’s work.

General Baseline: setting up the stage

We all know, and can feel that “tech” and “AI” is moving fast, and yet it’s sometimes hard to talk about it without some common, agreed-upon terms. Here’s precisely that to get us started:

ANI (Artificial Narrow Intelligence):
Any computer/piece of tech that is as smart as a human specializing in one area (i.e., specific task with limited scope).
AGI (Artificial General Intelligence) also called Strong AI or Human-Level AI
Is a computer/system that is as smart as a human across the board. This means it can perform any intellectual task a human can.
ASI (Artificial Super Intelligence):
“An intellect that is much smarter than all humans in practically every field, including scientific creativity, general wisdom and social skills”
We see that ANI → AGI → ASI.

What is fascinating, and what we don’t acknowledge as often is that we already live in a world full of ANI.

Google Maps is a very good ANI that most of us blindly follow.
Email spam filters are textbook-definition ANI.
Facial recognition software unlocks our phones.
Cruise control on your car.
Roomba, or any other autonomous robot.
Autocorrect, anywhere you write.
Anything on your social media recommendation pages.
and so much more.. just look around!
OpenAI’s mission statement is getting to AGI. This is an absurd sentence (which was so ridiculous that it was laughable back ~2018). But at this point in time, that is precisely where we are.. getting to AGI, which is widely speculated to happen by the end of this decade, if not sooner. I don’t want to speculate what the future or ASI would be like, there are tonnes of rabbit holes in the internet for that. Rather, I want to be able to get to the point of understanding how things are shaping up to be now.

Unless you’re in the field, or actively following the progress, the only way you get to know something happened is via the media, or other channels, which at times could be nothing more than hype and incomplete information.

Perception of growth/S-curve: 

Perhaps no one loves exponential graphs more than Ray Kurzweil, and this is a collection of graphs from his book “The Singularity is near” that clearly shows us the pattern of growth across a lot of areas. However, we might end up perceiving it a bit differently.

Technological progress often follows a pattern called the “S-curve”, which represents the lifecycle of a paradigm. A paradigm is a method or approach to solving a problem, such as shrinking transistors on an integrated circuit to make more powerful computers.

The S-curve has three stages:

S-Curves
taken from Tim Urban’s waitbutwhy blog. Think of this in a zoomed-out timescale.
Slow Growth: The early phase of exponential growth.
Think of this as early 2000s when phones were.. limited in what they could do.
Consider streaming media. It was in it’s infancy in ~2010.
Rapid Growth: The late, explosive phase of exponential growth.
For phones, this would relate to the late 2010s and a couple years after that where you could really feel the difference between the new phones coming out.
Streaming really became popular in mid-2010s, drastically changing the landscape.
Levelling Off: The paradigm matures.
Phones largely look the same now, and even though they have been maturing consistently, it’s doesn’t feel “novel” anymore.
Now, streaming anything feels pretty “meh”, and that’s the telltale sign of this paradigm shift happening.
Paradigm shifts are not mere changes. They are of a higher magnitude that brings about a lot more changes. Our grandparents would have been lucky to witness a few in their lifetimes, and now I’d argue we get a couple every year.

Here’s a few personal examples that stopped me in my tracks:

Portable Music Players [iPod]: Back when I got my first iPod, it blew my mind that I could carry all my music with me everywhere I go and listen to it anywhere.
File sharing/syncing [Dropbox]: Arguably, this is what got me interested in tech ~2013. It blew my mind that I could make an edit in a file, which could immediately show up for 50 people!
Streaming music: I distinctly remember back ~2015 when Apple Music came out and I was telling a friend about this thing called “streaming”, and how I thought it would be big.
Chatbots [ChatGPT/Claude]: duh! The landscape is so different for programmers now.
Image Generators [Stable Diffusion/Midjourney]
Music Generators [Suno/Udio]: This hits even harder with me being a musician, and working on something akin to this in my undergrad. This particular song had me stumped and really contemplate how far this has come in a mere 5 years.. and ofcourse, this is the worst it will ever be.
BMIs [Neuralink]: People are able to play CounterStrike using their brain!
AI research-helpers [Google’s NotebookLM]: This is the most recent one, as of writing this article, and all I can think of is how different things would be if I had access to this in my Masters. I had it summarize my Pumping Lemma article as a podcast, and it got it spot-on.
Here are ways that I keep up to date:

Reddits, like the Singularity subreddit. Sometimes, you strike gold there.
AI ButtonDown newsletter.
Podcasts:
“Your Undivided Attention”, by Center for Humane Technology
“On Purpose” by Jay Shetty
“IRL: Online Life is Real Life” by Mozilla
Wonderful articles like this from people in the field.
My take on this: 3 buckets


Bucket 1: Raw Computational Power (exponential growth here)
It used to be that we did not have the computational power to implement ideas like streaming, or deep learning (which btw is an idea that is much, much older than me). It’s only recently that it’s become feasible to do it on a large scale.. enough for it to become a paradigm shift.

Taken from Ray Kurzweil’s book “The Singularity is Nearer”
Bucket 2: Implementation (i.e., how it manifests itself in reality)
It’s a moot point to discuss something that cannot happen presently cause of the lack of resources. (E.g: like talking about full-self-driving cars in 1955).
There is usually a gap between we expect vs what we actually get. We might have been promised an epic game, but upon release it’s half-baked and turns out secretly steals your data. Not ideal.
Quite often, even with enough resources, how we use and implement them to bring that idea to life is quite often a different story, and good implementations often change lives.
Bucket 3: People and policies, which directly affect the previous two buckets.
This is the non-technical, and very human part of this picture. It directly affects what is feasible and what comes and stays around. Anyone making anything would have to obey by the law and the general public’s perception.
It’s quite unfortunate at times that tech goes underfunded and unnoticed by people. That is both a good and a bad thing
It’s clear that things in Bucket 2 can happen if we have enough resources present in Bucket 1, and people/policies from Bucket 3 can have a massive impact on how things in Bucket 2 get shaped. We see examples of this all the time in the real world, especially when a company comes along, generates a lot of hype, and is not able to deliver.

However, at this point in time, there seems to be this feeling in the air that we might be at the cusp of the exponential curve with things changing so quick that it feels like a full-time job just keeping up with it. Don’t take it from me, Anthropic’s CEO published his detailed thoughts on this in this article, just a few days before as I write this. This, coming from someone at the forefront of this tech makes me feel optimistic.

A good way to reason on why something is, or gets implemented, is:

“the pros outweigh the cons”

Things you cannot deny:

The concept of online-banking would have seemed utterly ridiculous to someone back in 2001, yet it is ubiquitous now. There is a very real chance of identity theft, cyberattacks etc, and yet this is the predominant way we bank.
You are much more smarter/capable/efficient with our phones on us than otherwise. Heck, we’ve even started wearing computers on our wrists! It comes with its fair share of cons (addiction/anxiety among many others), but we have to deal with it.
Human lifespan has almost doubled from ~40 years to ~75 years in the 20th century, and medicine now is much different than what your dad was used to growing up.
There are multitude of examples of things that we are working towards in the current day, and things that were worked on before with significant cons, but they exist, and are worked on because the pros outweigh the cons, just zoom out from 2024 and look around you! A small collection includes email, e-commerce, cloud-computing, mobile payments, smart-home-devices, electric vehicles..

I believe we must be humble enough to accept that things can change rather quickly in ways we did not expect, or even prepare for.

Here’s the thing, pick up any domain and there’s a good chance that AI (or think, just even computers) have changed the way things used to be done. Here are two domains that are big in my life:

My personal kicker: music
Every guitarist is after one thing: good tone. Traditionally, this meant playing through a tube amp. But recently, FX units (like Helix, Neural Quad Cortex, which are essentially computers that simulate these sounds) have gotten so good in the past decade that professional players have started going that route. (plus, it makes so much more sense from a touring point of view).
In terms of music recording and production, you’d be hard-pressed to find anyone who does it analog.
Personal kicker pt. 2: software development
Anyone who is not using any sort of AI tools, be it chat-assisted or otherwise, is really missing out. It’s easy to be stuck in the same routines, using the same tools, just cause they work. But the stuff that we have now, even vanilla ChatGPT was something that I couldn’t think would be possible even 2 years ago.. and now, I use it on a daily basis, and I am so much more productive because of it.
Ofcourse, this (along with a multitude of other reasons) has raised so many other issues, predominantly layoffs, not being able to get a job as a recent grad, entry-level jobs seemingly dying out and so on. It’s hard to predict how the landscape will shape up (heck, even in the next 2 years).
The-current-actual-lived-experience:

Let’s just take a minute here to address the current state of how things are, and perhaps this quote by Edward Wilson is apt:

“We have paleolithic emotions, medieval institutions, and god-like technology.”

It will take a whole another essay to delve into the impact tech has had in shaping our lives and setting the landscape in which (especially younger people) have to navigate life. But something clearly seems wrong.. ffs, there’s a loneliness epidemic going on!

Gen Z is widely regarded to be the most anxious generation. Johnathan Haidt does a remarkable job of making the correlation between that and the tech we use today, (along with cultural changes) painfully clear. Going back to my 3-bucket framework, the previous generations just did not have enough raw power (Bucket 1) to be able to make tech that does things like post about and track people’s every movement via apps (Bucket 2). Now we have access to that much power —and have been able to do some very remarkable things— but there’s been very little action on the policies governing all this (Bucket 3), and all of this is greatly reshaping our life-experience.

Think about it, if you are a parent now, why would you not have a baby-monitor/pet cam/house cam/AirTag in your pre-teen’s bag/etc monitoring things for you? How would you feel if you staunchly opt-out and then later find yourself in a position thinking “only if I’d just done that..” Don’t get me wrong, there is real benefit to all this.. it’s just that we are not used to this level of information at all times. And companies do a good job of playing to your insecurities, ofcourse.
If you are a teen now, the only pragmatic way to get to know other people your age, or in school is to get on social media. I’m not even going to get into the pros/cons here, but that’s where the culture is right now.
Here are a few other resources that convey the general vibe. I strongly suggest you go through them:

Scott Galloway’s (very impactful) Ted Talk on young people’s future.
After Babel, and all of Johnathan Haidt’s work about social media.
Dating and human connection is much, much harder than what it used to be.
Google search seems to be getting worse, and link rot is becoming a real problem.
These articles written by younger people/Gen Z: Everyone is numbing out, Moral direction, Friendship feeling like admin, What happened to FOMO?
Needless to say, tech, it’s implementation and the policies that we have play a huge part in shaping our culture. At this present moment, with everything being supercharged by AI, there seems to be a weird vibe surrounding everything. Here are a few common talking points and Ray Kurzweil’s views on them:

“We’ll lose our ability to think critically!”: Kurzweil argues that AI will enhance our critical thinking, not diminish it. By offloading repetitive or mundane tasks, we will have more time to engage in other problems.
“We’ll lose our jobs!” Think about Industrial Revolution, which didn’t destroy jobs but transformed them into roles we couldn’t have imagined before. The key is that while AI automates certain tasks, it opens up new opportunities for humans to collaborate with machines in unprecedented ways.
“Development is hitting a brick wall!” Quite the opposite: it’s actually accelerating exponentially. From advancements in AI and robotics to breakthroughs in medicine and energy, we’re moving faster toward solving some of humanity’s greatest challenges like disease, climate change, and even aging.
“We will lose human emotion and connection!” He sees AI as a tool that will enhance human relationships by helping us understand emotions better, improve communication, and connect more deeply with one another.
I am working on shaping my own opinions to make sense of a life lived in this landscape (see my Pumping Lemma article), and I most likely will continue to form, shape and change my opinions. For now, I’d like to end it here with this thought:

The train’s going to go.. you might as well be on it.
    
{% endblock %}
