{% extends "articles/base_saved_article.html" %}

{% block article_title %}Reversing into learner's mindset{% endblock %}
{% block article_subtitle %}<p class="text-muted mb-1">hopefully for more than just guitar</p>{% endblock %}
{% block article_source_url %}https://dipengupta.substack.com/p/reversing-into-learners-mindset{% endblock %}
{% block article_source_label %}View original source on Substack{% endblock %}
{% block article_published_label %}Published Mar 19, 2026{% endblock %}

{% block article_body %}
<p>&ldquo;Limitation breeds creativity&rdquo;.</p>

<p>
    I grew up hearing this quote, but didn&rsquo;t really internalize it till fairly recently.
    I&rsquo;ve been playing guitar for the better part of 16 years, but I&rsquo;ve felt stuck in a rut
    for the last oh-so-many years. Sure, I can play and pick up new things fairly quickly, but
    a lot of time passes in between having really good practice sessions, jams, or simply
    getting in the &lsquo;flow&rsquo;.
</p>

<p>
    I&rsquo;m pretty sure a lot of people have had experiences similar to this, and we know that the
    <a href="https://en.wikipedia.org/wiki/Dunning%E2%80%93Kruger_effect" target="_blank" rel="noopener noreferrer">
        Dunning-Kruger effect
    </a>
    exists. What I want to tackle here is the importance of getting in the learners mindset
    again, which includes a lot of listening-to-other-people and un-learning. For experienced
    people, I think it&rsquo;s one of those crucial things that we know is super important. We
    acknowledge it, but often fail on the follow-through. I want to explore that gap a bit
    more here.
</p>

<p>
    I think a part of why this happens is when people who kind-of-know what they are doing
    think they know better, or it just doesn&rsquo;t feel novel/new/fun anymore, and all of it adds
    to the feelings of &ldquo;oh, I already know this&rdquo;, or &ldquo;this isn&rsquo;t very different from what I
    am already doing&rdquo; or &ldquo;this feels boring and slow&rdquo; etc. We may look at it from every lens,
    apart from the learner&rsquo;s, where everything is new. It&rsquo;s very easy to extrapolate, and
    quite often you end up with where you started.
</p>

<p>
    What would really pay dividends here is to just try and limit the scope of everything that
    you know to the scope of a beginner.
</p>

<p>
    Incidentally, what really put this into perspective for me was taking lessons for something
    very much out of my comfort zone. (In this case, ballroom dancing) I recall paying a lot of
    money just to learn really basic things, and being quite annoyed that I had to do the same
    steps over and over.. but over time, I realised that it was the repetition that made all
    the difference. You can learn the extent of all possible steps in a relatively short amount
    of time.. but ingraining them so that it becomes second nature, and getting the confidence
    to use them properly is what makes all the difference.
</p>

<p>
    Relating this to what I wrote about a couple of years ago about
    <a href="https://medium.com/@escapesequencemovies/the-parallelisms-between-pumping-lemma-and-life-ff70bbd06fbf" target="_blank" rel="noopener noreferrer">
        life and pumping lemma
    </a>,
    this sort of relates to the part of pumping, where you&rsquo;d do the same thing over and over,
    and the novelty is pretty much gone. I would argue that this is what builds confidence,
    muscle memory and gives you something really solid to fall back on. When you take on too
    many new things, not spend a lot of time pumping, you may not end up feeling confident with
    how things stack up at the end. On the other hand, if it&rsquo;s a limited scope, with a lot of
    time spent doing it over and over, it would definitely stay longer with you.
</p>

<p>
    There&rsquo;s this famous quote that really puts ammortizing things into perspective for me:
    &ldquo;People tend to overestimate what can be done in one year, and to underestimate what can be
    done in five or ten years&rdquo;.
</p>

<p>
    So yeah, I guess the crux of what I really want to say is to get out of the rut, it&rsquo;s
    really important to embrace the learner&rsquo;s mindset, and actually do the reps. More
    intention, and better discipline, that&rsquo;s where it&rsquo;s at.
</p>

<p>I&rsquo;ll end this here with this periodic reminder:</p>

<p>
    <a href="https://substackcdn.com/image/fetch/$s_!jCHy!,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2Fa65d9a8f-7b74-48a8-8d68-b7e70c3d6adc_1170x1292.jpeg" target="_blank" rel="noopener noreferrer">
        View image from the original post
    </a>
</p>
{% endblock %}
